body {
	margin: 0;
	font-family: Tahoma;
	font-size: 16px;
	line-height: 1.5;
	background-color: #F8F3EB;
}

header {
	font-family: Tahoma;
	top: -90px; /* la altura del header */
	left: 0;
	width: 100%;
	height: 90px; /* la altura del header */
	background-color: #a65252;
	color: #F8F3EB;
}

#header {
	position: fixed;
	top: -90px; /* la altura del header */
	left: 0;
	width: 100%;
	height: 90px; /* la altura del header */
	background-color: #a65252;
	color: #F8F3EB;
	transition: top 0.3s ease-in-out;
}
  
#header.show {
	display: block;
	top: 0;
}

#header:hover {
	top: 0;
}

.logo {
	width: 50%;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	text-decoration: none;
	color: #F8F3EB;
	font-weight: bold;
	font-size: 18px;
}

nav a:hover {
	color: #F5DEB3;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url(../images/titlebg.jpg);
    background-size: cover;
    color: #F8F3EB;
    text-align: center;
}

#banner h2 {
	font-size: 55px;
}

#banner p {
	font-size: 20px;
}

main {
	background-color: #F8F3EB;
	font-family: Tahoma;
	font-size: 18px;

}

h1, h2, h3 {
	font-weight: bolder;
	margin: 0;
	text-align:center;
}

#tienda h2 {
	padding-top: 2.5%;
}

.producto {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 40px;
}

.producto img {
	width: 100%;
	height: 400px;
	min-height: 50%;
	max-height: 350px;
	background-color: #333333;
	padding: 0.5rem;
	object-fit: cover;
}

.product-container {
	display: flex;
	justify-content: center;
	align-items: center;

}
  
.product-image {
	width: 50%;
	object-fit: cover;
}
  
.product-text {
	width: 50%;
	text-align: justify;
	padding-left: 30px;
}

.comprar img {
	width: 100%;
	max-width: 200px;
	max-height: 330px;
	background-color: rgb(74, 146, 115);
	padding: 0.5rem;
	

}

.textomargen {
	text-align: justify;
	padding-left: 50px;
	padding-right: 50px;
}


.producto h3 {
	margin-top: 20px;
}

.producto p {
	margin: 10px 0;
}

.producto a {
	background-color: #F8F3EB;
	color: #4C4C4C;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
}

.producto a:hover {
	background-color: #333;
	color: #F5DEB3;
}

form {
	display: flex;
	flex-direction:column;
	max-width: 80%;
	margin: none auto;
}

form label {
	margin-top: 20px;
}

form input, form textarea {
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin-bottom: 20px;
}




.grid {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-gap: 20px;
  }


.conocimiento {
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;

}

.conocimiento-title {
	padding-top: 50px;
	text-align: center;
	padding-bottom: 20px;
}

.conocimiento-text {
	text-align: center;
	text-align: justify;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
}


  

input[type="submit"] {
	font-family: Tahoma;
	background-color: #F8F3EB;
	color: #4C4C4C;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 18px;
	cursor: pointer;
	margin-top: 20px;
}
  
input[type="submit"]:hover {
	background-color: #333;
	color: #F5DEB3;
}
  
.g-recaptcha {
	margin-top: 15px;
}
  
.success, .error {
	margin-top: 20px;
	padding: 10px;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
	
.success {
	  color: #4CAF50;
	  background-color: #e8f5e9;
}
	
.error {
	  color: #f44336;
	  background-color: #ffebee;
}

button[type="submit"] {
	font-family: Tahoma;
	background-color: #ccb5ab;
	color: #434343;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 18px;
	cursor: pointer;
	margin-top: 20px;
}

button[type="submit"]:hover {
	background-color: #333;
	color: #F5DEB3;
}



.fixed-top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}

footer {
	font-family: Tahoma;
	background-color: #f7f7f7;
	padding: 30px 0;
	text-align: center;
}
	  
.redes-sociales {
	display: flex;
	justify-content: center;
	align-items: center;
}
	  
.redes-sociales a {
	display: inline-block;
	margin: 0 10px;
}
	  
.redes-sociales img {
	width: 50px;
	height: 50px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.navbar {
	background-color: #a65252 !important;
}
         
.custom-toggler.navbar-toggler {
	border-color: #F8F3EB;
}
 
.custom-toggler .navbar-toggler-icon {
	background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(248, 243, 235, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link.active {
    color: white !important;
}
.nav-link{
    color: white !important;
}
.navbar-brand{
    color: white !important;
}

.botonrevelde button[type="button"]{
	text-align: center;
	font-family: Tahoma;
	background-color: #ccb5ab;
	color: #434343;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 18px;
	cursor: pointer;
	margin-top: 20px;
}

.botonreveldehover button[type="button"]:hover {
	background-color: #333;
	color: #F5DEB3;
}



.seccion1{
	background-color: #D8C7BB;
	color: #4C4C4C;
}

.seccion2{
	background-color: #ccb5ab;
	color: #4C4C4C;
}

.seccion3{
	background-color: #ECE2D9;
	color: #4C4C4C;
}

.contenedor{
	max-width: 1300px;
	margin: 0 auto
}

.contactoform {
	max-width: 625px;
	margin: 0 auto;
	padding-left: 25px;
	padding-right: 25px;
}

.contenedortop{
	padding-top: 120px;
	
}

.contenedorlista{
	margin-left: 0px;
	text-align: 0px;
}

.textoacercade{
	padding-left: none;
	padding-right: none;
}


@media(max-width: 500px) {
	.textomargen {
		text-align: justify;
		padding-left: 0px;
		padding-right: 0px;
	}

	.grid {
		grid-template-columns: none;
	}

	.producto img {

		max-width: fit-content;
		background-color: #333333;
		padding: 0.5rem;
		
		width: 100%;
		height: fit-content;
		object-fit: cover;
	}
	#banner {
		height: 450px;
	}
	.contenedor {
		max-width: 500px;
		margin: 0 auto
	}
	.contenedortop {
		padding-top: 74px;
	}

	#tienda h2 {
		padding-top: 0%;
	}
	.product-text {
		padding-left: 15px;
		padding-right: 15px;
		font-size: 16px;
		text-align: justify;
		padding-top: 5%;
		width: 100%;
	}
	.product-image {
		width: 100%;
		object-fit: cover;
	}
	#detalles {
		padding-left: 15px;
		padding-right: 15px;
	}

	.textoacercade{
		padding-left: 15px;
		padding-right: 15px;
	}

	form {
		margin: 15px auto;
		max-width: 92%;
	}
	.contactoform {
		padding-left: 15px;
		padding-right: 15px;
	}
	

	h1, h2, h3 {
		text-align: center;
	}

	h4 {
		text-align: center;
		padding-bottom: 5%;
	}

	ul {
		padding-left: 10%;
		padding-right: 10%;
	}

	.product-container {
		flex-direction: column;
		max-width: 600px;
	}
	.product-image {
		height: auto;
	}

	.contenedorlista{
		margin-left: 6%;
		text-align: justify;
	}

	button[type="submit"] {
		margin-top: 0px;
		margin-bottom: 20px;
	}
}